@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', 'Shadows Into Light';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: rgb(23, 98, 173);
    width: 100%;
    z-index: 99;
    position: fixed;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: lightgreen;
}
/* Styles for main element so it displays beneath header */

main {
    flex: 1 0 auto;
    margin-top: 47px;
}

.board-builder {
    display: flexbox;
    width: 90%;
    margin: 20px;
    background: linear-gradient( purple, seagreen);
    align-items: center;
}

.board-builder h2 {
    margin-bottom: 20px;
    font-size: 200%;
    text-align: center;
    color: lightgreen;

}

form {
    height: 400px;
    align-items: center;
    justify-content: center;
}

#numColumns {
    width: 50%;
}

input, label {
    margin: 20px 30px;
}

button {
    padding: 16px 32px;
    margin: 5px 30px;
    height: 60px;
    font-family: 'Play', sans-serif;
    border: 1px solid cyan;
    background-color: darkblue;
    color: #fff;
}

button:hover {
    background-color: #fff;
    color: darkblue;
}