@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', 'Shadows Into Light';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: rgb(23, 98, 173);
    width: 100%;
    z-index: 99;
    position: fixed;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: lightgreen;
}
/* Styles for main element so it displays beneath header */

main {
    flex: 1 0 auto;
    margin-top: 39px;
}

.board-builder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: seagreen;
    align-items: center;
    text-align: center;
}

.board-builder h2 {
    padding-top: 15px;
    margin-bottom: 50px;
    font-size: 200%;
    color: lightgreen;

}

.board-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}

.board-options {
    background-color: aquamarine;
    flex: 1 0 30%;
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 200px;
    max-width: 33%;
    min-width: 300px;
    margin: 20px;
    color: darkblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-options:hover {
    background-color: darkcyan;
    color: grey;
    border: 2px solid #fff;
}

.board-size-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    text-decoration: none;
}

.board-size-card i {
    text-decoration: none;
}

.board-container {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
}

#kanban-board-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-one-kanban-column {
    background-color: aquamarine;
    flex: 1 0 40%;
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 600px;
    max-width: 30%;
    min-width: 300px;
    margin: 20px;
    color: darkblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kanban-board-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board-two-kanban-column {
    background-color: aquamarine;
    flex: 1 0 40%;
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 600px;
    max-width: 30%;
    min-width: 300px;
    margin: 20px;
    color: darkblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kanban-board-three {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board-three-kanban-column {
    background-color: aquamarine;
    flex: 1 0 30%;
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 600px;
    max-width: 33%;
    min-width: 300px;
    margin: 20px;
    color: darkblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



